/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 20px;
  width: 100%;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  box-sizing: border-box;
  position: relative;
}
.header h1{
  display: inline;
  width: 100%;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.header img {
  float: right;
  width: 300px;
  height: 100px;
  position: absolute;
  right: 0px;
  top: -10px;
}

/*button for new product adding*/
.header button {
  background-color: #e7e7e7; 
  color: black; 
  border: 2px solid black;
  display: inline-block;
  font-size: 20px;
  padding: 15px;
  border: 5px solid red;
}

.header button:hover {
  background-color: #4CAF50;
  color: red;
}
/*back button*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 70px;
   background-color: #1abc9c;
   color: red;
   text-align: center;
   display: inline-block;
}
.footer button {
  background-color: #e7e7e7; 
  color: black; 
  border: 2px solid black;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  border: 5px solid red;
  width: 100px;
  height: 100%;
}

.footer button:hover {
  background-color: #4CAF50;
  color: red;
}
/*grid properties for each element (product)*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 50px;


}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid #000;
  margin: 10px;
}
.grid-item:hover{
  background-color: #4CAF50;
  color: white;
  padding: 20px 0;
  font-size: 30px;
}



